body{
  background-color:gray;
}

header{
  background-color: steelblue;
  height: 10vh;
}

header > h1 {
  font-size: 15pt;
  font-weight: bold;
  padding-top: 35px;
  padding-left: 40px;
}

.content{
  background-color: black;
  padding: 100px;

}

.card-box{
background-color: whitesmoke;
height: 37.5vh;

}

.current-card{
  font-size: 20pt;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align-last: right;
  padding: 10px;
  
}

.person-info{
  padding-left: 7.5vh; 
}

div > h2{
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: steelblue;
  font-size: 20pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 25px;
}

.person-info-two{
  display: flex;
  flex-direction: column;
  font-family: ;
  
}

.person-details{
  padding-top: 10px;

}

span{
  font-weight: bold;
  font-family: sans-serif;
}

 ol{
   list-style-type: decimal;
    padding-left: 55px;
    padding-top: 5px;
}

li{
  padding: 3px;
}

.fav-movies{
  padding-top: 30px;
}


.buttons-box{
  display: flex;
  justify-content: space-between;
  
}

.change-button{
background-color: transparent;
color: white;
font-weight: bold;
border: none;
}

.edit-card-buttons-box{
  display: inline-block;
  padding: 5px;
}

.edit-buttons{
background-color: steelblue;
border-radius: 12px;
color: white;
padding: 10px;
margin: 5px ;
font-weight: bold;
border: none;

}

